.navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    position: relative;
}

.buttonLogo {
    width: 15px;
    height: 15px;
    padding: 5px;
    margin: 5px;
}