.swipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    font-family: anakin_mono;
    color: gold;
    font-size: 20px;
}

.swipeBox {
    border: 2px solid gold;
    border-radius: 10px;
}

.swipeBox:hover {
    transition: 0.5s;
    transform: scale(1);
    box-shadow: 0px 0px 40px 4px  #A5A00E;
}

.characterImg{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
}

.characterImg img{
    object-position: top;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.swipeBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}

.startBtn{
    background-color: black;
    color: goldenrod;
    width: 20%;
    Height: 30px;
    font-size: 22px;
    margin: 20px;
}

button {
    width: 50px;
    padding: 10px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px #954BC6;
}

img {
    width: 35px;
}
