.cardContainer {
    display : flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
    margin: 10px;
}

.imageCard {
    width: 450px;
    margin-top: 50px;
    border-radius: 9px;
}

.card {
    display : flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #000;
    height: 350px; 
    padding: 20px;
    border-radius: 9px;
}

.cardInfos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    margin: 3px;
}

h1 {
    align-self: center;
}


.buttonCard {
    width: 120px;
    font-size: 18px;
    border-radius: 6px;
    margin: 15px;
}

.button {
    align-self: center;
}
