.swipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.characterImg{
    width: 400px;
    height: 400px;
    background-color: pink;
    border-radius: 10px;
}

.swipeBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
