.logo{
    margin-top: 3vh;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    background-color: grey;
    opacity: 0.5;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1 {
    font-size: 40px;
    font-family: 'anakin_mono';
    font-weight: bold;
    margin-top: -100px;
}

.loginName{
    margin-top: 100px;
}

input{
    width: 20vw;
    margin: 10px;
    padding: 20px 40px;
    background-color: #635BAC;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    transition: 0.2s;
    font-family: anakin_mono;
    font-size: 20px;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.815);
    font-size: 16px;
    padding: 0px 20px;
    text-align: center;
}
input:focus{
    transition: 0.5s;
    width: 20vw;
    font-size: 20px;
    transform: scale(1);
    box-shadow: 0px 0px 40px 4px  #954BC6;
}

#buttonLogin {
    margin: 20px;
    padding: 20px;
    font-family: 'anakin_mono';
    background-color: gold;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    /* transition: 0.2s; */
    color: #635BAC;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

#buttonLogin :hover{
    cursor: pointer;
}

.secretBtn{
    color: grey;
    margin: 30px;
    width: 20px;
    height: 20px;
}

.secretBtn{
    cursor: pointer;
}

#buttonLogin:focus {
    transition: 0.5s;
    width: 30vw;
    transform: scale(1);
    box-shadow: 0px 0px 40px 4px  #954BC6;
}

@media screen and (max-width:680px) {
    input {
        width: 70%;
    }

    #buttonLogin {
        width: 50%;
    }

}