.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

h1 {
    font-size: 40px;
    font-family: anakin_mono;
    font-weight: bold;
}

input{
    width: 30vw;
    margin: 10px;
    padding: 20px;
    background-color: #635BAC;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    transition: 0.2s;
    font-family: anakin_mono;
    font-size: 20px;

}

input::placeholder{
    color: rgba(255, 255, 255, 0.815);
    font-size: 16px;
}
input:focus{
    transition: 0.5s;
    width: 30vw;
    transform: scale(1);
    box-shadow: 0px 0px 40px 4px  #954BC6;
}

/*button{
    width: 50%;
    margin: 10px;
}*/

#buttonLogin {
    width: 20%;
    margin: 10px;
    padding: 20px;
    background-color: #635BAC;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    transition: 0.2s;
    color: gold;
    font-family: anakin_mono;
}

#buttonLogin:focus {
    transition: 0.5s;
    width: 30vw;
    transform: scale(1);
    box-shadow: 0px 0px 40px 4px  #954BC6;
}

@media screen and (max-width:680px) {
    input {
        width: 70%;
    }

    #buttonLogin {
        width: 50%;
    }

}