@font-face {
    font-family: 'anakin_mono';
    src: url('/src/assets/fonts/anakinmono.ttf');
}

@font-face {
    font-family: 'exo2';
    src: url('/src/assets/fonts/Exo2-SemiBoldItalic.ttf');
}

h1{
    font-family: 'anakin_mono';
    color: gold;
}

h2{
    font-family: 'exo2';
    color: snow;
}


body{
    font-family: 'exo2';
    background-image: linear-gradient(rgba(0, 5, 20, 0.5), rgba(223, 223, 179, 0.2)), url("../src/assets/background_star.PNG");
    height:100vh;
}

.loginBtnDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#buttonLogin {

    padding: 20px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'anakin_mono';
    text-transform: capitalize;
    background-color: gold;
    color: #635BAC;
    opacity: 0.8;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#buttonLogin :hover{
    cursor: pointer;
}

a {
    text-decoration: none;
}