@font-face {
    font-family: 'anakin_mono';
    src: url('/src/assets/fonts/anakinmono.ttf');
}

@font-face {
    font-family: 'exo2';
    src: url('/src/assets/fonts/Exo2-SemiBoldItalic.ttf');
}

h1{
    font-family: 'anakin_mono';
    color: gold;
}

h2{
    font-family: 'exo2';
    color: snow;
}


body{
    font-family: 'exo2';
    background-image: linear-gradient(rgba(0, 5, 20, 0.5), rgba(223, 223, 179, 0.2)), url("../src/assets/background_star.PNG");
    height:100vh;
}


#buttonLogin {
    width: 15vw;
    margin: 10px;
    padding: 20px;
    font-family: 'anakin_mono';
    background-color: #635BAC;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    /* transition: 0.2s; */
    color: gold;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

.loginBtnDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#buttonLogin :hover{
    cursor: pointer;
}


.secretBtn{
    color: grey;
    margin: 30px;
    width: 20px;
    height: 20px;
}

.secretBtn{
    cursor: pointer;
} 

.loginContainerB {
    display: flex;
    justify-content: center;

}

@media screen and (max-width:680px) {
    #buttonLogin {
        min-width: 100px;
        margin: 15px 15vw;
    }
        input {
            width: 70%;
        }
    
        #buttonLogin {
            width: 40vw;
        }
    
    } 

